:root {
    --primary: #d11b1b;
    --secondary: #36a6c2;
    --auxiliary: #429b3f;
    --background: #a8a1a1;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: var(--background);
}
