<form *ngIf="current < total && size(sentences) == total" [formGroup]="translateForm" (ngSubmit)="next()">
    <p>{{sentences[current].translation}}</p>
    <p>{{sentences[current].original}}</p>
    <div *ngIf="enterText">
        <input id="res" type="text" formControlName="res" autocomplete="off">
        <p *ngFor="let t of sentTokens; let i = index">{{t}}</p>
    </div>
    <div *ngIf="!enterText">
        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let tok of sentTokens" cdkDrag>{{tok}}</div>
        </div>
    </div>
    <button type="submit">Next</button>
</form>

<div *ngIf="current == total">{{correct}} / {{total}}</div>