<mat-progress-bar *ngIf="!(current < total && size(sentences) == total) && current == 0" mode="query"
    color="accent"></mat-progress-bar>
<form *ngIf="current < total && size(sentences) == total" [formGroup]="translateForm" (ngSubmit)="next()">
    <p>{{sentences[current].translation}}</p>
    <p>{{sentences[current].original}}</p>
    <div *ngIf="enterText">
        <input id="res" type="text" formControlName="res" autocomplete="off">
    </div>
    <div *ngIf="!enterText">
        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let tok of sentTokens" cdkDrag>{{tok}}</div>
        </div>
    </div>
    <button type="submit" i18n="Reviews next|Next button in reviews mode@@reviewsNext">Next</button>
</form>

<div *ngIf="current == total"><ng-container
        i18n="Reviews result|Result text in reviews mode@@reviewsResult">Result:</ng-container> {{correct}} / {{total}}
</div>
<div *ngIf="current != total">{{current + 1}} / {{total}}</div>