<form [formGroup]="signupForm" (ngSubmit)="signupSubmit()">
    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name">
    <span *ngIf="signupForm.controls['name'].invalid 
        && (signupForm.controls['name'].dirty || signupForm.controls['name'].touched) 
        && signupForm.controls['name'].errors?.['required']" class="form-alert-msg">Name is required.</span>
    <br>
    <label for="login">Login: </label>
    <input id="login" type="text" formControlName="login">
    <span *ngIf="signupForm.controls['login'].invalid 
        && (signupForm.controls['login'].dirty || signupForm.controls['login'].touched) 
        && signupForm.controls['login'].errors?.['required']" class="form-alert-msg">Login is required.</span>
    <br>
    <label for="email">Email: </label>
    <input id="email" type="text" formControlName="email">
    <span *ngIf="signupForm.controls['email'].invalid 
        && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched) 
        && signupForm.controls['email'].errors?.['required']" class="form-alert-msg">Email is required.</span>
    <span *ngIf="signupForm.controls['email'].invalid 
        && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched) 
        && signupForm.controls['email'].errors?.['email']" class="form-alert-msg">Wrong email format.</span>
    <br>
    <label for="pwd">Password: </label>
    <input id="pwd" type="password" formControlName="pwd">
    <span *ngIf="signupForm.controls['pwd'].invalid 
        && (signupForm.controls['pwd'].dirty || signupForm.controls['pwd'].touched) 
        && signupForm.controls['pwd'].errors?.['required']" class="form-alert-msg">Password is required.</span>
    <br>
    <label for="rpwd">Repeat password: </label>
    <input id="rpwd" type="password" formControlName="rpwd">
    <span *ngIf="signupForm.invalid 
        && (signupForm.dirty || signupForm.touched) 
        && signupForm.errors?.['notEqual']" class="form-alert-msg">Passwords don't match.</span>
    <br>
    <div *ngIf="errMsg != ''" class="form-alert-msg">{{errMsg}}</div>
    <button type="submit" [disabled]="!signupForm.valid">Sign up</button>
</form>