<mat-toolbar color="primary">
        <a mat-button href="/" *ngIf="!handset">
                <mat-icon>home</mat-icon><span>Lingee</span>
        </a>
        <a mat-icon-button href="/" *ngIf="handset">
                <mat-icon>home</mat-icon>
        </a>
        <span class="example-spacer"></span>
        <button *ngIf="this.authService.isSignedIn()" mat-raised-button [matMenuTriggerFor]="coursemenu"
                aria-label="Course language selection menu" color="accent" (click)="refresh()">
                <mat-icon>school</mat-icon>
                <span *ngIf="!handset">{{ "toolbar.active" | translate }}:</span>
                <span class="fi fi-{{getCourseLang() == 'cs' ? 'cz' : (getCourseLang() == 'en' ? 'us' : getCourseLang())}}"
                        style="margin-left: 1em;"></span>
        </button>
        <mat-menu #coursemenu="matMenu">
                <a mat-menu-item href="/" (click)="changeCourse('en')" *ngIf="getUILang() != 'en'">
                        <span class="fi fi-us" style="margin-right: 1em;"></span>
                        <span>{{ "myaccount.langEN" | translate }} {{getRevs('en') ? '(' + getRevs('en') + ')' :
                                ''}}</span>
                </a>
                <a mat-menu-item href="/" (click)="changeCourse('pl')" *ngIf="getUILang() != 'pl'">
                        <span class="fi fi-pl" style="margin-right: 1em;"></span>
                        <span>{{ "myaccount.langPL" | translate }} {{getRevs('pl') ? '(' + getRevs('pl') + ')' :
                                ''}}</span>
                </a>
                <a mat-menu-item href="/" (click)="changeCourse('cs')" *ngIf="getUILang() != 'cs'">
                        <span class="fi fi-cz" style="margin-right: 1em;"></span>
                        <span>{{ "myaccount.langCS" | translate }} {{getRevs('cs') ? '(' + getRevs('cs') + ')' :
                                ''}}</span>
                </a>
                <a mat-menu-item href="/" (click)="changeCourse('tr')" *ngIf="getUILang() != 'tr'">
                        <span class="fi fi-tr" style="margin-right: 1em;"></span>
                        <span>{{ "myaccount.langTR" | translate }} {{getRevs('tr') ? '(' + getRevs('tr') + ')' :
                                ''}}</span>
                </a>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="langmenu" aria-label="UI language selection menu">
                <mat-icon>language</mat-icon>
        </button>
        <mat-menu #langmenu="matMenu">
                <button mat-menu-item (click)="changeLanguage('en')" *ngIf="getCourseLang() != 'en'">
                        <span class="fi fi-us" style="margin-right: 1em;"></span>
                        <span>{{ "myaccount.langEN" | translate }}</span>
                </button>
                <button mat-menu-item (click)="changeLanguage('pl')" *ngIf="getCourseLang() != 'pl'">
                        <span class="fi fi-pl" style="margin-right: 1em;"></span>
                        <span>{{ "myaccount.langPL" | translate }}</span>
                </button>
                <button mat-menu-item (click)="changeLanguage('cs')" *ngIf="getCourseLang() != 'cs'">
                        <span class="fi fi-cz" style="margin-right: 1em;"></span>
                        <span>{{ "myaccount.langCS" | translate }}</span>
                </button>
                <button mat-menu-item (click)="changeLanguage('tr')" *ngIf="getCourseLang() != 'tr'">
                        <span class="fi fi-tr" style="margin-right: 1em;"></span>
                        <span>{{ "myaccount.langTR" | translate }}</span>
                </button>
        </mat-menu>
        <a *ngIf="!this.authService.isSignedIn() && handset" href="/signin"
                mat-icon-button><mat-icon>login</mat-icon></a>
        <a *ngIf="!this.authService.isSignedIn() && handset" href="/signup"
                mat-icon-button><mat-icon>person_add</mat-icon></a>
        <a *ngIf="this.authService.isSignedIn() && handset" href="/myaccount"
                mat-icon-button><mat-icon>account_circle</mat-icon></a>
        <button *ngIf="this.authService.isSignedIn() && handset" (click)="this.authService.signout()"
                mat-icon-button><mat-icon>logout</mat-icon></button>

        <a *ngIf="!this.authService.isSignedIn() && !handset" href="/signin"
                mat-button><mat-icon>login</mat-icon><span>{{
                        "toolbar.signin" | translate }}</span></a>
        <a *ngIf="!this.authService.isSignedIn() && !handset" href="/signup"
                mat-button><mat-icon>person_add</mat-icon><span>{{
                        "toolbar.signup" | translate }}</span></a>
        <a *ngIf="this.authService.isSignedIn() && !handset" href="/myaccount"
                mat-button><mat-icon>account_circle</mat-icon><span>{{
                        "toolbar.myaccount" | translate }}</span></a>
        <button *ngIf="this.authService.isSignedIn() && !handset" (click)="this.authService.signout()"
                mat-stroked-button><mat-icon>logout</mat-icon><span>{{ "toolbar.signout" | translate }}</span></button>
</mat-toolbar>