<p>{{ "myaccount.hello" | translate }} {{myaccount.displayname}}!</p>
<h3>{{ "myaccount.uilangHeader" | translate }}</h3>
<p (click)="changeLanguage('en')">{{ "myaccount.langEN" | translate }}</p>
<p (click)="changeLanguage('pl')">{{ "myaccount.langPL" | translate }}</p>
<p (click)="changeLanguage('cs')">{{ "myaccount.langCS" | translate }}</p>
<p (click)="changeLanguage('tr')">{{ "myaccount.langTR" | translate }}</p>
<h3>{{ "myaccount.courseChangeHeader" | translate }}</h3>
<p (click)="changeLanguage('en')">{{ "myaccount.langEN" | translate }}</p>
<p (click)="changeLanguage('pl')">{{ "myaccount.langPL" | translate }}</p>
<p (click)="changeLanguage('cs')">{{ "myaccount.langCS" | translate }}</p>
<p (click)="changeLanguage('tr')">{{ "myaccount.langTR" | translate }}</p>